//META{"name":"Colorize","description":"A semi-user friendly theme controlled with a single hex color, just edit the top hex color in the theme file to your own","author":"maple#1234","version":"1.11"}*//{}
@import url("https://gitcdn.xyz/repo/mrmaple240/colorize/master/main.css");
body{


    /* EDIT HEX COLORS BELOW */
    --base-color: #36393f  ;


    --accent-color: #7289da  ;



}
